**/bin/
**/obj/
*.user
*.swp
*.suo
*.userprefs
**/node_modules/
**/.vite/
**/dist/
**/.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
*.iml
Thumbs.db
.DS_Store
**/*.log
**/*.idea
Taskmaster/.idea